{% extends 'main_template.html' %}
{% load static %}


{% block title %} Log in {% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'authen/style_login.css' %}">
{% endblock %}


{% block body %}

    {% if next %}
        {% if user.is_authenticated %}
          <p>Your account doesn't have access to this page. To proceed,
          please login with an account that has access.</p>
        {% else %}
          <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}


    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
        <table class="center">
          <tr>
            <th>{{ form.username.label_tag }}</th>
            <th>{{ form.username }}</th>
          </tr>
          <tr>
            <th>{{ form.password.label_tag }}</th>
            <th>{{ form.password }}</th>
          </tr>
        </table>
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{% url 'plan:home' %}" />
  </form>
    <p>If you don't have an account. Please register: <a href="{% url 'authen:signup' %}">Sign up</a></p>

{% endblock %}
