<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'dailyplan/dp_main.css' %}">
    {% block head %} {% endblock %}
</head>
<body>
{% block nav %}
<nav>
    <a href="{% url 'plan:home' %}">Home</a>
    <a href="{% url 'plan:week' %}">Week</a>
    <a href="{% url 'login' %}">Log in</a>
    <a href="{% url 'authen:signout' %}">Log out</a>
    <a href="{% url 'authen:signup' %}">Sign up</a>
</nav>
{% endblock %}
{% block body %}
{% endblock %}
</body>
</html>
