{% extends 'main_template.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'tasks/today.css' %}">
{% endblock %}


{% block body %}
    <div id="top">
        <h1>{{ day }} | {{ week_day }}</h1> <button id="create_task_button">Create Task</button>
    </div>
    <form id="create_task">
        {% csrf_token %}
        <p>
            <label for="title">Title:</label>
            <input id="title">
        </p>
        <p></p>

    </form>

    <div id="tasks">
        {% for task in tasks %}
            <div class="task">
                <h3>{{ task.title }}</h3>
                <p>{{ task.status }}</p>
                <p>{{ task.get_priority }}</p>
            </div>
    </div>
    {% endfor %}
{% endblock %}