{% extends 'main_template.html' %}
{% load static %}

{% block title %} Day {% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'dailyplan/confirm_delete.css' %}">
{% endblock %}

{% block body %}
{% if day %}
    <p style=" margin-top: 5%;">{{ day.day_date }}</p>

    <form method="post">
        {% csrf_token %}
        <input style="width: 155px" type="text" name="task" list="tasktitles">
            <datalist id="tasktitles">
                <option value="TASK1">
                {% for task in task_titles %}
                    <option value="{{ task }}">
                {% endfor %}
            </datalist>
        <input type="submit" style="border-radius: 15px;" value="Add Task">
    </form>


    {% if tasks %}
        {% for task in tasks %}
            <p>
                <h1>{{ task.title }}</h1>
                <label>
                    {% if task.status %}
                        <samp style="color: green;font-size: 13px">done</samp>
                    {% else %}
                        <samp style="color: red;"> in progress</samp>
                    {% endif %}
                </label>
            </p>
            <a href="{% url 'plan:update' task.id %}"><button>Change</button></a>
            <a href="{% url 'plan:delete' task.id %}"><button>Delete</button></a>
            <br>
        {% endfor %}
    {% else %}
        <p>You haven't any plans this day</p>
    {% endif %}
{% else %}
    <p>There are no such day in db</p>
{% endif %}
{% endblock %}

