{% extends 'main_template.html' %}
{% load static %}

{% block title %} Form {% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'dailyplan/style_week.css' %}">
{% endblock %}

{% block body %}
    {% for day, tasks, day_name in week %}
        <a href="{% url 'plan:day' day.id %}">
            <div>
                <h2>{{ day_name }}</h2>
                <h3>{{ day.day_date }}</h3>
                <hr>
                {% for task in tasks %}
                    <p>{{ task.title }}</p>
                {% endfor %}
            </div>
        </a>
    {% endfor %}
{% endblock %}
