#create_task{
    height: 200px;


}

#add_task_form{
    visibility: hidden;
}

#top h1{
    position: relative;
    left: 30px;
}

.task{
    text-align: left;
    margin-left: 100px;
}

.task > * {
    display: inline;
    margin-right: 50px;
}
