nav a {
    text-decoration: none;
    text-align: center;
    background-color: #226666;
    color: #ABABAB;
    padding: 1% 6%;
    margin: 0px;
    display: inline-block;
    border-radius: 15px;
}

nav a:hover {
    background-color: #004848;
}

body {
    background-color: #002A2A;
    text-align: center;
}

div {
    border: 3px solid #226666;
    display: inline-block;
    width: 22%;
    height: 320px;
    vertical-align: top;
    text-align: center;
    margin-top: 30px;
    color: #ABABAB;
}

div:hover {
    border-color: #004848;
}
