nav{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20%;
    height: 500px;

}

nav a {
    text-decoration: none;
    text-align: center;
    background-color: #226666;
    color: #ABABAB;
    padding: 1% 6%;
    margin: 0px;
    display: inline-block;
}


nav a:hover {
    background-color: #004848;
}

body {
    background-color: #002A2A;
    text-align: center;
}

#content{
    position: absolute;
    left: 20%;
    top: 0px;
    border: 3px solid #226666;
    vertical-align: top;
    width: 80%;
    height: 100%;
    text-align: center;
    color: #ABABAB;

}

div:hover {
    border-color: #004848;
}
