nav a{
    text-decoration: none;
    text-align: center;
    background-color: blue;
    color: black;
    padding: 10px 105px;
    margin: 0px;
    display: inline-block;
}
nav a:hover{
    background-color: #000055;
}
body{
    background-color: #77aa55;
    text-align: center;
}
